In [65]:
import pandas as pd
df = pd.read_excel('cortesTP.xlsx', sheet_name=2)
df.head()

,idccms,date,Horas_Login,shortname,Horas_Ajuste,Work_Total,Número total de ajustes,Client,Programa,address1,city,Zipcode
0,3135893,2022-08-01,7.998611,Technical Problem - Power Outage,7.996667,NaN,NaN,Vodafone,Vodafone ZNAF2 Mass NLM Trainer,CL 15 DBIS 111A - 57 - Moravia,Bogotá,110921.0
1,4321056,2022-08-01,10.163333,Technical Problem - Power Outage,0.101111,NaN,NaN,Vodafone,Vodafone ZNAF2 Mass NLM NEO Agents,DG 143 128 - 53,Bogota DC,111821.0
2,4783659,2022-08-03,7.476667,Technical Problem - Power Outage,3.258611,NaN,NaN,Vodafone,Vodafone ZNAF2 Mass NLM Emisiones Agents,AVENIDA CALLE 26 N 92 32,bogota,111321.0
3,2646462,2022-08-03,9.044722,Technical Problem - Power Outage,2.865278,NaN,NaN,Vodafone,Vodafone ZNAF2 Mass NLM NEO Agents,KR 81 H N 51c Sur 69,Bogota Dc,110861.0
4,4535161,2022-08-04,9.013333,Technical Problem - Power Outage,0.196111,NaN,NaN,Vodafone,Vodafone ZNAF2 Mass NLM Agents,CLL 10 sur 8 45,Bogota,110831.0

In [ ]:
dict = {
        'cl' : ['calle', 'cll'],
        'carrera' : ['kr', 'cr', 'cra', 'kra', 'crra', 'crr']
        'avenida' : ['av', ]
      }

In [ ]:
def fixAdd(string):
  # string = 'KR 4H # 37 16 '
  try:
    string = string.lower().split() # ['kr', '4h', '37', '16']
    
  except:

In [105]:
import geocoder
loc = geocoder.osm('transversal 87a sur #58D  bogota colombia')
loc.raw['address']['postcode']

TypeError: 'NoneType' object is not subscriptable

In [4]:
"hola amigos".split()

['hola', 'amigos']

In [2]:
import pandas as pd

clients = {
  "indices": ['1','2', '3'],
  "peso": [1,2,3],
  "altura": [4,5,6],
}
df = pd.DataFrame(clients)

In [3]:
df

  indices  peso  altura
0       1     1       4
1       2     2       5
2       3     3       6

In [8]:
def funct(x):
  return int(x[0]) + x[1] * x[2]

In [11]:
df['imc2'] = df.apply(lambda x: funct(x), axis = 1 )

In [12]:
df

  indices  peso  altura  imc  imc2
0       1     1       4    5     5
1       2     2       5   12    12
2       3     3       6   21    21